<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../resources/css/reset.css">
    <link rel="stylesheet" href="../resources/css/layout.css">
</head>
<body>
    <!-- Sementic tag -->
	<header class="wrap_left">
		<div class="logo left"><img src="../resources/images/logo_60x29.png"></div>
		<div class="menu right"></div>
	</header>
	<section class="contents wrap_left">
        <nav class="contents_left left">
            <ul>
                <li><a href="#">1. menu</a></li>
                <li><a href="#">2. menu</a></li>
                <li><a href="#">3. menu</a></li>
                <li><a href="#">4. menu</a></li>
                <li><a href="#">5. menu</a></li>
            </ul>
        </nav>
        <div class="contents_right right"></div>
	</section>
	<footer class="wrap_left">
        <div class="left footer_left"></div>
        <div class="right footer_right">
            © 2025 GitHub, Inc.
            Footer navigation
            Terms
            Privacy
            Security
            Status
            Docs
            Contact
            Manage cookies
            Do not share my personal information
            
        </div>
	</footer>
</body>
</html>